{% extends '_base.html' %}

{% block title %}All authors{% endblock %}

{% block content %}


        <form class="row">
            {{ form.name }} {{ form.surname }} {{ form.patronymic }}
            <input type="submit" name="search" class="btn btn-default" value="Search">
        </form>
    <div class="container">
        <br>
        <h1>All Authors <a href="{% url 'author_create' %}" class="btn btn-outline-primary">Create author</a></h1>

        <hr>
        <div class="row justify-content-center">
            {% for author in authors %}
                <div class="card col-md-3 m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ author.name }} {{ author.surname }} {{author.patronymic }} </h5>
                        <a href="{% url 'author_detail' author.id %}" class="btn btn-outline-primary">See more</a>
                        <a href="{% url 'author_form' author.id %}" class="btn btn-outline-primary">Edit</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}