{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form ALIGN="center" action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{ form.name|as_crispy_field }}
    {{ form.description|as_crispy_field }}
    {{ form.count|as_crispy_field }}
    {{ form.authors|as_crispy_field }}
    <br>
    <button type="Create" class="btn btn-success"><i class="fas fa-database"></i>Update</button>
    <button type="Submit" name="delete" class="btn btn-success"><i class="fas fa-database"></i>Delete</button>
</form>
{% endblock content %}